{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://use.typekit.net/usr7mmc.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script>
    (function(d) {
      var config = {
        kitId: 'lpb6eir',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
</head>
<body class="bg-dark">
  {% if messages %}
      {% for message in messages %}
        <div class="alert fade show alert-{{ message.tags }} py-1 d-flex justify-content-between" role="alert">
          <div>{{ message }}</div>
          <div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
        </div>
      {% endfor %}
  {% endif %}

  <div class="container">
    {% include "nav.html" %}

    <div class="container pb-3 px-4">
      {% block content %}

      {% endblock content %}
    </div>
  </div>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>