{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="rounded bg-white p-4 fw-bold" style="font-family: sandoll-ongothic, sans-serif;">
    <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form%}
      <div class="text-end">
        <button class="btn btn-dark pb-0 pt-1" style="width: 2.5rem;"><i class="fas fa-user-plus"></i></button>
        <a href="{% url 'articles:index' %}" class="btn btn-outline-danger pb-0 pt-1" style="width: 2.5rem;"><i class="fas fa-times fa-lg"></i></a>
        {% comment %} <button class="btn btn-dark pb-0 pt-1">가입</button>
        <a href="{% url 'articles:index' %}" class="btn btn-outline-dark pb-0 pt-1">뒤로</a> {% endcomment %}
      </div>
    </form>
  </div>
{% endblock content %}