{% extends 'base.html' %}

{% block content %}
  <div class="card bg-secondary mt-3">
    <div class="card-body">
      <div class="text-white h-100" style="font-family: sandoll-ongothic, sans-serif;">
        <h2>제목 : {{ article.title }}</h2>
        <hr>
        <h4>{{ article.content|linebreaks }}</h4>
        <img src="{{ article.image.url }}" alt="{{ article.image }}" class="w-100 mb-3">
        <p class="mb-0 fw-normal">작 성 : {{ article.created_at|date:"Y년 n월 j일 g:i A"}}</p>
        <p class="fw-normal">수 정 : {{ article.updated_at|date:"Y년 n월 j일 g:i A" }}</p>
        <hr>
        <form action="{% url 'articles:delete' article.pk %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="text-end">
            <a href="{% url 'articles:update' article.pk %}" class="btn btn-dark pb-0 pt-1 mb-3" style="width: 2.5rem;"><i class="fas fa-pen"></i></a>
            <button type="button" class="btn btn-outline-danger pb-0 pt-1 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="width: 2.5rem;">
              <i class="fas fa-trash"></i>
            </button>
            <a href="{% url 'articles:index' %}" class="btn btn-outline-dark px-2 pb-0 pt-1 mb-3 text-white" style="width: 2.5rem;"><i class="fas fa-undo-alt"></i></a>

            {% comment %} <a href="{% url 'articles:update' article.pk %}" class="text-decoration-none text-white"><i class="fas fa-pen-square fa-2x"></i></a>
            <a href="{% url 'articles:update' article.pk %}" class="btn btn-dark pb-0 pt-1 mb-3">수 정</a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-decoration-none text-white"><i class="fas fa-window-close fa-2x"></i></a>
            <button type="button" class="btn btn-dark pb-0 pt-1 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
              삭 제
            </button>
            <a href="{% url 'articles:index' %}" class="btn btn-outline-dark pb-0 pt-1 mb-3">뒤 로</a> {% endcomment %}
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-white fw-bold" style="font-family: sandoll-ongothic, sans-serif;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">경고</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          게시물을 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary pb-0 pt-1" data-bs-dismiss="modal"><i class="fas fa-times fa-lg"></i></button>
          <form action="{% url 'articles:delete' article.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger pb-0 pt-1"><i class="fas fa-trash"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}