{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="rounded bg-secondary mt-3 p-3 fw-bold">
    <form action="" method="POST" enctype="multipart/form-data" style="font-family: sandoll-ongothic, sans-serif;">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% comment %} {{ form }} {% endcomment %}
      <br>
    <div class="text-end">
      {% if article.pk %}
        <button class="btn btn-dark pb-0 pt-1" style="font-family: sandoll-ongothic, sans-serif;" style="width: 2.5rem;"><i class="fas fa-pen"></i></button>
        <a href="{% url 'articles:detail' article.pk %}" class="btn btn-outline-danger pb-0 pt-1" style="width: 2.5rem;"><i class="fas fa-times fa-lg"></i></a>
        {% comment %} <button class="btn btn-dark pb-0 pt-1" style="font-family: sandoll-ongothic, sans-serif;">수 정</button>
        <a href="{% url 'articles:detail' article.pk %}" class="btn btn-outline-dark pb-0 pt-1">취 소</a> {% endcomment %}
      {% else %}
        <button class='btn btn-dark pb-0 pt-1' style="width: 2.5rem;"><i class="fas fa-pen"></i></button>
        <a href="{% url 'articles:index' %}" class="btn btn-outline-danger pb-0 pt-1" style="width: 2.5rem;"><i class="fas fa-times fa-lg"></i></a>
        {% comment %} <button class='btn btn-dark pb-0 pt-1'>작 성</button>
        <a href="{% url 'articles:index' %}" class="btn btn-outline-dark pb-0 pt-1">뒤 로</a> {% endcomment %}
      {% endif %}
      </form>
    </div>
  </div>
{% endblock content %}